body {
margin: 0;
font-family: Arial, sans-serif;
}

.navbar {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 40px;
background: #E07425;
color: white;
}

.logo img {
width: 40px;
height: auto;
border-radius: 50%;
}

.nav-menu {
display: flex;
gap: 15px;
}

.nav-menu a {
text-decoration: none;
color: white;
padding: 5px 12px;
font-size: 13px;
}

.hero {
background: #FFF38E;
color: white;
text-align: center;
padding: 80px 20px 40px;
}

.hero h1 {
font-size: 50px;
margin: 0;
color: #903E1F;
}

.hero p {
font-size: 14px;
margin-top: 10px;
color: #903E1F;
}

.croissant-container {
display: flex;
justify-content: center;
margin-top: 40px;
flex-wrap: wrap;
}

.croissant-container img {
width: 300px;
margin: 10px;
border-radius: 10px;
}
    